@import "variables";
@import "fonts";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  footer {
    background-color: $primary-color !important;
    .footer {
        margin-left: 13.6805%; /* 13.6805% equal 197px */
        margin-right: 15.3819%; /* 15.3819% equal 221.5px */
        // width: 71.5277%; /* 71.5277% equal 383px */
        height: 383px;
        padding: 0;

        .row {
            height: 383px;
            .border-footer {
                // position: relative;
                // height: 68.4073%; /* 68.4073% equal 262px */
                height: 100%;
                max-height: 265px;
                border-left: solid 1px #4d4d4d;
                margin: 62px 0 6.390% 0;
                ul {
                    // padding-left: 15.5px ;
                    .titles-footer {
                      height: 22px;
                      color: $third-color;
                      margin: 0 0 15px;
                      font-family: $main-font-Bold;
                      font-size: 16px;
                      font-weight: $font-bold;
                      font-stretch: normal;
                      font-style: normal;
                      line-height: normal;
                      letter-spacing: 0.93px;
                    }
                    li {
                        height: 19px;
                        margin-top: 10px;
                        a {
                            color: $secondary-color;
                            text-decoration: none;
                            font-family: $main-font-SBold;
                            font-size: 14px;
                            font-weight: $font-Sbold;
                            font-stretch: normal;
                            font-style: normal;
                            line-height: normal;
                            letter-spacing: 0.82px;
                            text-align: center;
                        }
                        a:hover {
                            // background-color: $third-color;
                            color: $third-color;
                            text-decoration: none;
                            opacity: 0.9;
                            transition: 0.5s;
                        }
                        .footer-information {
                          height: 28px;
                          // margin: 15px 155px 1px 10px;
                          font-family: $main-font-SBold;
                          font-size: 14px;
                          font-weight: $font-Sbold;
                          font-stretch: normal;
                          font-style: normal;
                          line-height: 2;
                          letter-spacing: normal;
                          color: $secondary-color;
                        }
                        i {
                            margin-right: 10px;
                        }
                        .phone1 {
                            width: 14px;
                            height: 14px;
                            font-size: 14px;
                            margin-bottom: 24.2px;
                        }
                        .phone2 {
                            width: 13.6px;
                            height: 13.6px;
                            font-size: 13.6px;
                            margin-bottom: 26.2px;
                        }
                        .msg1 {
                            width: 13px;
                            height: 10px;
                            font-size: 13px;
                            margin-bottom: 28.2px;
                        }
                        .msg2 {
                            width: 12.9px;
                            height: 6.5px;
                            font-size: 12.9px;
                            margin-bottom: 25.2px;
                        }
                        .location {
                            width: 12px;
                            height: 18px;
                            font-size: 18px;
                        }
                    }
                    .mg-30 {
                      margin-top: 30px;
                    }
                }
                h5 {
                    // height: 22px;
                    // color: #e4c800;
                    // margin: 25.75% 0 6.390% 0; /* 25.75% equal 60.5px  6.390% equal 15px*/
                }
                // .first-col {
                //     margin: 0 0 25.75% 0; /* 25.75% equal 60.5px */
                //     height: 222px;
                // }
                .job-margin {
                    margin-bottom: 0;
                }
                .free-margin {
                    margin-bottom: 0;
                }
                .find-us-col {
                    margin-top:18.715%; /*18.715%; equal 60.5px; */
                }
                img {
                    width: 94.79%;
                    height: 49px;
                    // margin: 54.56% 0 26.94% 0;
                    margin: 18px 0 39.5px 0;
                }
                .last-footer-title {
                    margin: 0 0 15px 0;
                    color: $third-color;
                }
                span {
                    width: 15.2778%; /* equal 220px */
                    height: 25px;
                    margin: 0 0 0 0; /* 11.25 equal 162px */
                    padding: 0;
                    font-size: 0;
                    i {
                        color: $secondary-color;
                    }
                    i:hover {
                        color: $third-color;
                    }
                    .fa-linkedin-in {
                        width: 17px;
                        height: 17px;
                        font-size: 17px;
                        margin-right: 17.1px;
                        padding: 0.7px 0.3px 0.1px 0.3px;
                    }
                    .fa-youtube {
                        width: 14.8px;
                        height: 10.5px;
                        font-size: 14.8px;
                        margin-right: 18.1px;
                    }
                    .fa-instagram {
                        width: 15px;
                        height: 15px;
                        font-size: 15px;
                        margin-right: 18.3px;
                    }
                    .fa-twitter {
                        width: 14.3px;
                        height: 11.8px;
                        font-size: 14.3px;
                        margin-right: 22.4px;
                    }
                    .fa-facebook-f {
                        width: 7.5px;
                        height: 16.1px;
                        font-size: 16.1px;
                        margin-right: 0;
                    }
                }
            }
            // .border-footer::before {
            //     content: "";
            //     border: 1px solid #4d4d4d;
            //     /* height: 262px; */
            //     height: 100%;
            //     position: absolute;
            //     top: 60.5px;
            //     left: -15.5px;
            // }
        }
    }
    .copy-right {
        height: 35px;
        color: #fff;
        background-color: var(--copyright);
        padding: 10px 0;
        a {
            width: 16.9444%;
            height: 15px;
            color: $secondary-color;
            font-family: OpenSans;
            font-size: 11px;
            // font-weight: normal;
            font-weight: $font-normal;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            text-decoration: none;
            background-color: $copyright;
        }
        p {
            margin: 0;
            font-size: 11px;
        }
    }
  }
}

html {
  @media screen and (max-width: $large) {
    body {
      footer {
        .footer {
            height: 100%;
            margin-left: 30px;
            margin-right: 30px;
            .row {
                height: 100%;
                .border-footer {
                    // h5 {
                    //     margin: 25.75% 0 6.390% 0; /* 25.75% equal 60.5px  6.390% equal 15px*/
                    //     font-size: 12px;
                    // }
                    height: 100%;
                    max-height: 265px;
                    // border-left: 2px solid yellow;
                    border-left: none;
                    // margin: 62px 0 6.390% 0;
                    margin: 10px 0 10px 0;
                    ul {
                      .for-email-width {
                        width: 230px;
                      }
                        .titles-footer {
                         height: 22px;
                         color: #e4c800;
                         margin: 0 0 15px;
                         font-size: 16px;
                        }
                        li {
                            height: 15px;
                            font-size: 10px;
                        }
                        .for-iPad {
                            margin-bottom: 20px;
                        }
                        .first-col {
                            margin: 0 0 25.75% 0; /* 25.75% equal 60.5px */
                        }
                        .find-us-col {
                            margin-top: 18.715%; /*18.715%; equal 60.5px; */
                        }
                        .mg-30 {
                          margin-top: 20px;
                        }
                        a {
                          font-size: 10px;
                        }
                    }
                    img {
                        // width: 140%;
                        // margin: 40% 0 25% 0;
                        width: auto;
                        margin: 0 0 39.5px 0;
                    }
                    span {
                        .fa-linkedin-in {
                            width: 15px;
                            height: 15px;
                            font-size: 15px;
                            margin-right: 6px;
                            padding: 0;
                        }
                        .fa-youtube {
                            width: 15px;
                            height: 15px;
                            font-size: 15px;
                            margin-right: 6px;
                        }
                        .fa-instagram {
                            width: 15px;
                            height: 15px;
                            font-size: 15px;
                            margin-right: 6px;
                        }
                        .fa-twitter {
                            width: 15px;
                            height: 15px;
                            font-size: 15px;
                            margin-right: 6px;
                        }
                        .fa-facebook-f {
                            width: 15px;
                            height: 15px;
                            font-size: 15px;
                            margin-right: 0;
                        }
                    }
                    .last-footer-title {
                      font-size: 16px;
                      letter-spacing: 1px;
                      margin: 0 0 6.159% 0;
                    }
                }
                // .border-footer::before {
                //     content: "";
                //     display: none;
                // }
                .horizontal-line {
                    background-color: $third-color;
                }
            }
        }
      }
    }
  }
  @media screen and (max-width: $small) {
    body {
      footer {
        .footer {
            height: 100%;
            // width: 100%;
                .row {
                    height: 100%;
                    .border-footer{
                        // h5 {
                        //     margin: 24.5px 0 6.390% 0; /* 25.75% equal 60.5px  6.390% equal 15px*/
                        // }
                        // margin: 10px 0 6.39% 0;;
                        margin: 10px 0 10px 0;
                        .first-col {
                            margin: 0 0 16.5px 0; /* 25.75% equal 60.5px */
                            margin-bottom: 16.5px;
                        }
                        .find-us-col {
                            margin-top: 24.5px; /*18.715%; equal 60.5px; */
                        }
                        img {
                            // width: 60%;
                            width: auto;
                            /* margin: 10% 0 16.8133% 0; */
                            // margin: 24.5px 0 16.5px 0;
                            margin: 0 0 16.5px 0;
                        }
                        .last-footer-title {
                          font-size: 16px;
                          letter-spacing: 1px;
                        }
                        .icons {
                          a {
                            i {
                              font-size: 15px;
                              margin-right: 10px;
                            }
                          }
                        }
                    }
                    .border-footer::before {
                        content: "";
                        display: none;
                    }
                    .horizontal-line {
                        background-color: $third-color;
                    }
                }
            }
      }
    }
  }
}