@import "variables";
@import "fonts";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    main {
        h1 {
            background-color: rgb(2, 26, 78, 0.85);
            text-align: center;
            font-family: $main-font-SBold;
            font-weight: $font-Sbold;
            color: $third-color;
            margin: 20px 0;
            padding: 20px 0;
        }
        .card {
            margin: 30px 0;
            .card-body {
                .btn-primary {
                    background-color: $primary-color;
                    color: $third-color;
                }
            }
        }
        .news-title {
            // width: 318px;
            // height: 22px;
            font-family: $main-font-SBold;
            font-size: 16px;
            // font-weight: 600;
            font-weight: $font-Sbold;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: 0.4px;
            color: $news-color;
            margin: 10px 0;
        }
        .news-title:hover {
            color: $third-color;
        }
        a:hover {
            text-decoration: none;
        }
        h2 {
            text-align: center;
            font-family: $main-font-SBold;
            font-weight: $font-Sbold;
            color: $primary-color;
            margin: 20px 0;
        }
    }
}